%section.hero.is-medium.is-bold
  .hero-body
    .container.has-text-centered
      %h1.title= t(".no_profiles_title")
      %h2.subtitle= t(".no_profiles_subtitle_html", edit_profile_location_path:)
