%section.hero.is-medium.is-bold
  .hero-body
    .container.has-text-centered
      %h1.title
        Currently you have no messages.
      %h2.subtitle
        You have no messages at this moment. You will see your chats here once you do. Check out the
        %a{href: listing_path} folks around you!
