.hero-head
  = render "header"
.hero-body
  .container.has-text-centered
    %h1.title
      Dating online can be different: free, open-source and privacy conscious!
    %h2.subtitle
      RetroMeet is and always will be free, and since it's open source you can help build the best friend-finding and dating app out there!
%section.container
  .columns.features
    .column.is-4
      .card.is-shady
        .card-image.has-text-centered
          %i.fa.fa-lightbulb-o
        .card-content
          .content
            %h4 Free
            %p RetroMeet is free, no more paying to maybe get in touch with people that interest you. No anxiety-inducing "someone liked you" prompt.
    .column.is-4
      .card.is-shady
        .card-image.has-text-centered
          %i.fa.fa-user-secret
        .card-content
          .content
            %h4 Privacy conscious
            %p We do not sell your data or give it to third parties. You have controls to help navigate who can see your data.
    .column.is-4
      .card.is-shady
        .card-image.has-text-centered
          %i.fa.fa-code-fork
        .card-content
          .content
            %h4 Open-source
            %p
              The code for RetroMeet is available and can be modified by many hands to improve
