.container
  %h1.title.has-text-centered Our privacy policy
  .content
    %p
      %strong> Last updated
      \: November 12, 2024
    %p
      This privacy policy describes how [SITE ADDRESS HERE!] ("[SITE ADDRESS HERE!]", "we", "us") collects, protects and uses the personally identifiable information you may provide through the [SITE ADDRESS HERE!] website or its API. The policy also describes the choices available to you regarding our use of your personal information and how you can access and update this information. This policy does not apply to the practices of companies that [SITE ADDRESS HERE!] does not own or control, or to individuals that [SITE ADDRESS HERE!] does not employ or manage.

    %h2 What information do we collect?
    %p
      %ul
        %li
          %strong> Basic account information
          \: If you register on this server, you may be asked to enter your birth date, an e-mail address and a password. You may also enter additional profile information such as a display name and about you information, and upload a profile picture and other information about yourself. Any additional profile information may be made public depending on your settings.
        %li
          %strong> IPs and other metadata
          \: When you log in, we record the IP address you log in from, as well as the name of your browser application. All the logged in sessions are available for your review and revocation in the settings. The latest IP address used is stored for up to 12 months. We also may retain server logs which include the IP address of every request to our server.
    %h2 What do we use your information for?
    %p
      Any of the information we collect from you may be used in the following ways:

      %ul
        %li
          Your birth date is used to check if you are old enough to use our services. It will not be displayed to other users, but you might make your age available if you wish.
        %li
          To provide the core functionality of RetroMeet. You can only interact with other people's content and post your own content when you are logged in. For example, you may follow other people to view their combined posts in your own personalized home timeline.
        %li
          To aid moderation of the community, for example comparing your IP address with other known ones to determine ban evasion or other violations.
        %li
          The email address you provide may be used to send you information, notifications about other people interacting with your content or sending you messages, and to respond to inquiries, and/or other requests or questions.

    %h2 How do we protect your information?
    %p
      We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information. Among other things, your browser session, as well as the traffic between your applications and the API, are secured with SSL, and your password is hashed using a strong one-way algorithm. You may enable two-factor authentication to further secure access to your account.

    %h2 What is our data retention policy?
    %p
      We will make a good faith effort to:

    %ul
      %li
        Retain server logs containing the IP address of all requests to this server, in so far as such logs are kept, no more than 90 days.
      %li
        Retain the IP addresses associated with registered users no more than 12 months.

    %p
      You can request and download an archive of your content, including your posts, media attachments, profile picture, and header image.

    %p
      You may irreversibly delete your account at any time.

    %h2 Do we use cookies?
    %p
      Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow). These cookies enable the site to recognize your browser and, if you have a registered account, associate it with your registered account.
    %p
      We use cookies to understand and save your preferences for future visits.

    %h2 Do we disclose any information to outside parties?
    %p
      We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our site, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety.
    %p
      When you authorize an application to use your account, depending on the scope of permissions you approve, it may access your public profile information. Applications can never access your e-mail address or password.

    %h2 Site usage by children
    %p
      Our service is restricted to individuals who are 18 years of age or older. We do not permit individuals under the age of 18 on our platform. If you suspect that a memeber is under the age of 18, please use the reporting mechanism available on the service.

    %hr
    %p
      This document is CC-BY-SA. Originally adapted from the <a href="https://github.com/mastodon/mastodon" target="_blank">Mastodon privacy policy</a>.
