%nav.navbar
  .container
    .navbar-brand
      .navbar-item= image_tag("retromeet_long.png", class: %i[image])
    .navbar-menu
      .navbar-end
        .navbar-item Profile
        .navbar-item Settings
        .navbar-item Sign out
