= turbo_stream.replace "profile_modal_content" do
  .modal.is-active.root#profile_modal_content{"data-controller": "bulma-modal", "data-bulma-modal-target": "root"}
    .modal-background
    .modal-content#profile_modal_content{"data-bulma-modal-target": "content"}
      .box.has-text-centered= t(".report_created")
